
 

 
  
    .login-container{
      width:380px;
      height: 100%;
      margin: 0px auto;
      display: flex;
      padding: 0;
      align-items: center;
      flex-direction: column;
      border-radius: 19px;
      background-color: #fff;
      box-shadow: 0 0 2px rgba(15, 15, 15, 0.28);
      position: relative;
      overflow: hidden;
      margin-top:-11px ;
      margin-bottom: 0px;
    }
 
    
  .top-container{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 1.8em;
  padding-bottom: 23em;
 position: relative;
 
}

.back-drop{
  position: absolute;
  width: 160%;
  height: 550px;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  top: -290px;
  left: -70px;
  transform: rotate(60deg);
  background: linear-gradient(
    58deg, rgb(13, 101, 234) 20%, rgb(55, 243, 209) 100%
  );
  z-index: 1; /* Ensure the backdrop is behind the text */
}

.header-container{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  z-index: 1000; /* Set z-index higher than the backdrop */
}




/* Responsive Design */
@media (max-width: 768px) {
  .header-title h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 480px) {
  .header-title h2 {
    font-size: 3.2rem;
  }
}


.FormContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
  margin-bottom: 40px;
  
}

  
  .submitForm {
   width: 100%;
  max-width: 250px;
  padding: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 240ms ease-in-out;
  background: linear-gradient(
    58deg, rgb(13, 101, 234) 20%, rgb(55, 243, 209) 100%
  );
  &:hover {
    filter: brightness(1.1);
  }
  }

 .loginInput{
  width: 70%;
  height: 35px;
  outline: none;
  border: 1px solid rgba(200, 200, 200, 0.3);
  border-radius: 5px;
  padding: 0px 20px;
  transition: all 200ms ease-in-out;
  margin-bottom: 5px;

  &::placeholder {
    color: rgb(200, 200, 200);
  }


  &:focus {
    outline: none;
    border-bottom: 1px solid rgb(15, 241, 230);
  }

 }

 .lineText{
  font-size: 15px;
  color: rgba(200, 200, 200, 0.8);
  font-weight: 500;
 }


 .boldLine{
  font-size: 13px;
  color: rgb(15, 166, 241);
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px dashed rgb(15, 177, 241);
  &:hover {
    filter: brightness(1.1);
  }

 }


 .input-error {
  border-color: red;
}

.error {
  color: red;
  font-size: 12px;
  position: relative;
  left: 0;
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}


 @media only screen and (max-width: 480px) {
  /* styles for devices with a minimum screen width of 480px */
  .login-container{
     width:100%;
     min-height: 100vh;
     height:-100vw;
  }
  
  .back-drop{
     
    top: -21rem;
    left: -10rem;
    
  }


}


  @media only screen and (min-width: 481px) {
    /* styles for devices with a minimum screen width of 480px */
    .login-container{
      width: 30rem;;
      height:-100vw;
      
    } 
    .top-container{

      padding-bottom: 27em;

    }


    .back-drop{
     
      top: -21rem;
      left: -10rem;
      
    }

  
  
  }

  .info-button {
    background-color: transparent;
    margin-left: 40px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 23px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 

  .info-text {
    display: none; /* Initially hidden */
    position: absolute;
    font-size: 12px;
    top: 40px;
    left: 60px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }



  .info-button.active + .info-text {
    display: block;
  }